.obscuro{
 background-color: #3F066C;   
}
.claro{
    background-color: #dab4f8;   
}
.menuButton{
    background-color: white;
    margin: 0;
    border:#3F066C solid 3px ;
}
.borde{
    border-radius: 5px;
    border:#3F066C solid 2px ;
 }
.menuText{
    color: #706f6f;
    font-weight: bold;
    font-size: 150%;
   
}

.aboutText{
    font-size: 150%;
   
}
.menuButton:hover{
background-color:#3F066C ;

}
.menuText:hover{
    color: white ;
    text-decoration: none;
}

.contenedorFila{
    display: flex;
    flex-direction: row;
}

.contenedorFila2{
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 1200px) {
    .contenedorFila2{
        display: inline-flexbox;
        flex-direction: row;

    }
    .contenedorFila{
        display: flex;
        flex-direction: row;
    }
  }