.titulo1{
    padding-top: 7%;
    font-size: 250%;
    color: #4a4848;
}
.texto1{
    color: #8f8d8d;
    font-size: 150%;
}
.titulo2{
    font-size: 250%;
    padding-top: 15%;
    color: #4a4848;
}
.texto2{
    color: #8f8d8d;
    font-size: 150%;
}
.contenedorFila{
    display: flex;
    flex-direction: row;
}

.fila1{
    background-color: #ebe1f2;
}

@media screen and (max-width: 800px) {
    .contenedorFila{
        display: inline;
    }
    .fila1{
        background-color: #ebe1f2;
    }
  }